*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --main: #1954ED;
    --main-light: #F3F6FE;
    --acc: #28D1B4;
    --sec: #ffffff;
}

body, p{
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    line-height: 33px;
    position: relative;
}

h1{
    color: var(--main);
    font-size: 60px;
    font-weight: 400;
}

.title-card{
    font-size: 35px;
    font-weight: 400;
}

.price-card{
    font-size: 96px;
    line-height: 96px;
}

.price-label{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
    margin-top: -10px;
}

.btn-label{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
    margin-top: 4px;
}

.bg-main-light
{
    background-color: var(--main-light)
}

.bg-sec{
    background-color: var(--sec);
}

.bg-main{
    background-color: var(--main);
}

.color-main{
    color: var(--main);
}

.color-sec{
    background-color: var(--sec);
}

.color-main-light{
    background-color: var(--main-light)
}

.card{
    width: 323px;
    height: 460px;
    border-radius: 0px !important;
    border: none !important;
}

.logos{
    height: 347px;
}

.marquee{
  width:100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  --offset: 0vw;
  --item-font-size: 10vw;
  --move-initial: calc(50% + var(--offset));
  --move-final: calc(-100% + var(--offset));
}

.marquee__inner{
  width: fit-content;
  display: flex;
  /* position: relative; */
  transform: translate3d(var(--move-initial),0,0);
  animation: marquee 15s linear infinite; 
}

.marquee span{
  white-space: nowrap;
  font-size: 9.9vw;
  padding: 0 2vw;
}

@keyframes marquee {
  0% {
  transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
   transform: translate3d(var(--move-final), 0, 0);
  }
}

.logos{
    display: flex;
    align-items: center;
    height:347px;
}

.gap-custom
{
    width: 32px; 
}

.diamond{
    height: 49px;
    width: 56px;
}

#leaf, #diamond{
    height: 56px;
    width: 64px;
    margin-top:48px;
}

.btn-order{
    border-radius: 35px;
    border: none;
    font-size: 16px;
    padding: 16px 32px 16px 32px;
    background-color: #28D1B4;
    color: white;
    font-weight: 600;
    line-height: 16px;
}

#sup{
    font-size: 20px;
    line-height: 20px;
}

.logo{
    height: 50px;
    width: auto;
    padding: 0 20px 0px 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    /* color: #007aff !important;
    background: #007aff !important;
    padding: 4px; */
    border: 2px solid #1954ED !important;
    border-radius: 100% !important;
    position: relative !important;
    width: 1em !important; 
    height: 1em !important;
}

.swiper-pagination-bullet-active::before{
    content: "" !important;
    display: block !important;
    position: absolute !important;
    width: 0.5em !important;
    height: 0.5em !important;
    top: 50%; left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: #1954ED !important;
    border-radius: 100% !important;
}

span.swiper-pagination-bullet{
    background-color: white;
    border:1px solid #007aff !important;
}

.height-custom
{
    height: 460px;
}

.currency{
    top: -2.2em;
}

.g-custom{
    gap: 10px;
}

.text-slider{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.sub-title{
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
}

.review-name{
    font-size: 14px;
    line-height: 21px;
}

.review-section{
    width: 200px;
    text-align: start;
}

.photo-review{
    width: 32px;
    height: 32px;
    background-color: #D4DCEF;
    border-radius: 50%;
}

.separator{
    width: 8px;
    height: 1px;
    background-color: #28D1B4;
}

.swiper-pagination{
    text-align: start !important;
    display: flex;
    align-items: center;
}

.ms-5{
    display: none !important;
}

.separator-top{
    position: absolute;
    top: 32px;
    height: 1px;
    width: 36%;
    margin-left: -50px;
    background-color:#1954ED;
}

/* Media Query */

@media only screen and (max-width: 375px) {
    h1 {
      font-size: 48px;
    }
    .sub-title{
        font-size: 18px;
    }
    .title-card{
        font-size: 30px;
    }

    .price-card{
        font-size: 88px;
    }

    .separator-top{
        width: 84%;
    }
  }

